#signup-card{
    padding: 20px 40px;
    background-color: rgba(250, 241, 232, 0.7);
    margin-bottom: 30px;
    /* border: none; */
    color: #989288
}

.btn-info {
    color: #fff;
    background-color: #525a61;
    border-color: #FFEEEE;
    margin-bottom: 20px;
}
