#signup-card{
    padding: 20px 40px;
    background-color: rgba(250, 241, 232, 0.7);
    margin-bottom: 30px;
    /* border: none; */
    color: #989288
}


#signup-submit {
    font-family: "effra", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 0.813em;
    letter-spacing: 0.2125em;
    background-color: rgba(0,0,0,0);
    border: 1px solid #996439;
    color: #996439;
    box-shadow: none;
    text-transform: uppercase;
    padding: 1em 1.15em 1em 1.15em;
}

.sign-log-in{
    text-align: center;
}

.login-btn-links{
    color: #996439;
}

.link {
    color:#996439;
    text-decoration: underline;

}

.link:hover{
    background-color:#996439;
    color: #ffffff
}