body {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #A09A90;
  background: #f9f8f4;
  letter-spacing: 0.03em;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
