.add-activity-form{
    font-family: "effra", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 0.813em;
    letter-spacing: 0.2125em;
    background-color: rgba(0,0,0,0);
    border: 1px solid #996439;
    color: #996439;
    box-shadow: none;
    text-transform: uppercase;
    padding: 1em 1.15em 1em 1.15em;
    margin-right: 10px;
}
.activity-submitBtn{
    font-family: "effra", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.2125em;
    background-color: rgba(0,0,0,0);
    border: 1px solid #996439;
    color: #996439;
    box-shadow: none;
    text-transform: uppercase;
    padding: 1em 1.15em 1em 1.15em;
    margin-left: 10px;
}
