/*navigation bar */
.navbar {
  font-family: "effra", helvetica, arial, sans-serif;
  background-color: #f7eee6;
  /* background: linear-gradient(10deg, #EEDDDD 0%, #FFEEEE 100%); */
  box-shadow: 2px 2px 15px grey;
  /* position: fixed; */
  top: 0;
  width: 100vw;
  height: 4.2em;
  z-index: 3;
  text-align: right;
  z-index: 999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
  /* max-width: 1280px; */
  margin: auto;
  margin-bottom: 20px;
}

.navbar-text {
  color: #a09a90;
  font-size: 40px;
  /* font-family: 'MuseoModerno', cursive; */
  font-family:  'Source Sans Pro', sans-serif; 
}

.navbar-nav{
  color: #a09a90;
}
#menu a.nav-link:hover {
  color: #a09a90;
  background-color: #ffffff;
  /* border: darkgrey 1px solid;
    border-radius: 3px;
   */
}

@media (max-width: 767px) {
  #menu {
    background-color: #ffffff;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-text {
    font-size: 30px;
    /* color: hotpink; */
  }
  #menu {
    background-color: #ffffff;
    padding-right: 20px;
  }
}
